ion-toolbar{
    padding: 0 10px;
    --background: transparent;
}
.location{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
 }
 .cart-numbers{
    background: #6E6D70;
    color: whtie;
    color: white;
    font-size: 10px;
    padding: 3px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3px;
    left: 13px;
 }