<ion-content>
  <ion-tabs class="ion-no-border">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="delivery">
        <ion-icon src="assets/icon/delivery.svg"></ion-icon>
        Delivery
      </ion-tab-button>
      <div class="custom-divider"></div>

      <ion-tab-button tab="clubs">
        <ion-icon src="assets/icon/clubs.svg"></ion-icon>
        Clubs
      </ion-tab-button>
      <div class="custom-divider"></div>

      <ion-tab-button tab="corporate">
        <ion-icon src="assets/icon/corparate.svg"></ion-icon>
        Corporate
      </ion-tab-button>
      <div class="custom-divider"></div>

      <ion-tab-button tab="profile">
        <ion-icon src="assets/icon/profile.svg"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>