// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #7427F5;
	--ion-color-primary-rgb: 116,39,245;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #6622d8;
	--ion-color-primary-tint: #823df6;


	--ion-color-green: #42A606;
	--ion-color-green-rgb: 66,166,6;
	--ion-color-green-contrast: #000000;
	--ion-color-green-contrast-rgb: 0,0,0;
	--ion-color-green-shade: #3a9205;
	--ion-color-green-tint: #55af1f;

	--ion-color-red: #E92A28;
	--ion-color-red-rgb: 233,42,40;
	--ion-color-red-contrast: #000000;
	--ion-color-red-contrast-rgb: 0,0,0;
	--ion-color-red-shade: #cd2523;
	--ion-color-red-tint: #eb3f3e;

	--ion-color-yellow: #FFC100;
	--ion-color-yellow-rgb: 255,193,0;
	--ion-color-yellow-contrast: #000000;
	--ion-color-yellow-contrast-rgb: 0,0,0;
	--ion-color-yellow-shade: #e0aa00;
	--ion-color-yellow-tint: #ffc71a;
    
  }

  .ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}
.ion-color-green {
	--ion-color-base: var(--ion-color-green);
	--ion-color-base-rgb: var(--ion-color-green-rgb);
	--ion-color-contrast: var(--ion-color-green-contrast);
	--ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
	--ion-color-shade: var(--ion-color-green-shade);
	--ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-red {
	--ion-color-base: var(--ion-color-red);
	--ion-color-base-rgb: var(--ion-color-red-rgb);
	--ion-color-contrast: var(--ion-color-red-contrast);
	--ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
	--ion-color-shade: var(--ion-color-red-shade);
	--ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-yellow {
	--ion-color-base: var(--ion-color-yellow);
	--ion-color-base-rgb: var(--ion-color-yellow-rgb);
	--ion-color-contrast: var(--ion-color-yellow-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-shade);
	--ion-color-tint: var(--ion-color-yellow-tint);
}