<ion-content class="otp-container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" class="otp-wrapper">
        <h2 class="ion-text-center">Let's get you started</h2>
        <ion-item lines="none">
          <ion-input type="tel" placeholder="+91 Your Phone No." maxlength="10"></ion-input>
        </ion-item>
        <ion-text>We will send you an OTP on this number</ion-text>
        <ion-button expand="block" class="otp-button">Get OTP</ion-button>
        <p class="ion-text-center">
          By proceeding, I accept the
          <a href="#" class="link">Terms & Conditions</a> and
          <a href="#" class="link">Privacy Policy</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
