/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


*{
  font-family: "Manrope", sans-serif;
}

@for $i from 0 through 100 {
    .#{"s"}#{$i} {
      font-size: #{$i}#{"px"} !important;
    }
  
    .#{"m"}#{$i} {
      margin: #{$i}#{"px"} !important;
    }
  
    .#{"mr"}#{$i} {
      margin-right: #{$i}#{"px"} !important;
    }
  
    .#{"ml"}#{$i} {
      margin-left: #{$i}#{"px"} !important;
    }
  
    .#{"mb"}#{$i} {
      margin-bottom: #{$i}#{"px"} !important;
    }
  
    .#{"mt"}#{$i} {
      margin-top: #{$i}#{"px"} !important;
    }
  
    .#{"my"}#{$i} {
      margin-top: #{$i}#{"px"} !important;
      margin-bottom: #{$i}#{"px"} !important;
    }
  
    .#{"mx"}#{$i} {
      margin-left: #{$i}#{"px"} !important;
      margin-right: #{$i}#{"px"} !important;
    }
  
    .#{"mrp"}#{$i} {
      margin-right: #{$i}#{"%"} !important;
    }
  
    .#{"mlp"}#{$i} {
      margin-left: #{$i}#{"%"} !important;
    }
  
    .#{"mbp"}#{$i} {
      margin-bottom: #{$i}#{"%"} !important;
    }
  
    .#{"mlvw"}#{$i} {
      margin-left: #{$i}#{"vw"} !important;
    }
  
    .#{"p"}#{$i} {
      padding: #{$i}#{"px"} !important;
    }
  
    .#{"pr"}#{$i} {
      padding-right: #{$i}#{"px"} !important;
    }
  
    .#{"pl"}#{$i} {
      padding-left: #{$i}#{"px"} !important;
    }
  
    .#{"plp"}#{$i} {
      padding-left: #{$i}#{"%"} !important;
    }
  
    .#{"prp"}#{$i} {
      padding-right: #{$i}#{"%"} !important;
    }
  
    .#{"pb"}#{$i} {
      padding-bottom: #{$i}#{"px"} !important;
    }
  
    .#{"pt"}#{$i} {
      padding-top: #{$i}#{"px"} !important;
    }
  
    .#{"py"}#{$i} {
      padding-top: #{$i}#{"px"} !important;
      padding-bottom: #{$i}#{"px"} !important;
    }
  
    .#{"px"}#{$i} {
      padding-left: #{$i}#{"px"} !important;
      padding-right: #{$i}#{"px"} !important;
    }
  
    .#{"h"}#{$i} {
      height: #{$i}#{"px"} !important;
    }
  
    .#{"w"}#{$i} {
      width: #{$i}#{"px"} !important;
    }
  
    .#{"hp"}#{$i} {
      height: #{$i}#{"%"} !important;
    }
  
    .#{"wp"}#{$i} {
      width: #{$i}#{"%"} !important;
    }
  
    .#{"mnw"}#{$i} {
      min-width: #{$i}#{"px"} !important;
    }
  
    .#{"mxw"}#{$i} {
      max-width: #{$i}#{"%"} !important;
    }
  
    .#{"gap"}#{$i} {
      gap: #{$i}#{"px"} !important;
    }
  
    .#{"br"}#{$i} {
      border-radius: #{$i}#{"px"} !important;
    }
  }
  
.custom-divider {
    width: 2px;
    height: 36px;
    background-color: #DCDCDC;
}
.title{
  font-weight: 800;
  font-size: 17px;
}

::-webkit-scrollbar {
  display: none;
}

.vertical-discount-banner{
  background: #7427F5;
  color: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  padding: 6px;
  position: absolute;
  top: -6px;
  right: 8px;
  text-align: center;
}
.horizontal-discount-banner{
  background: #7427F5;
  color: white !important;
  padding: 6px;
  position: absolute;
  top: -6px;
  /* right: 8px; */
  text-align: center;
  left: 43px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
p{   
  color: white !important;
}
}

ion-toggle::part(track) {
  height: 18px;
  width: 40px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}